@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gradient-text {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin card-shadow {
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.3);
  }
}
